.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: red;
  }
  
  
  .delete-button:hover {
    color: darkred;
  }
  